<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <p th:text="'¿Estas seguro de eliminar el contrato  '+ ${calendar.}+'?'"/>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-danger float-right" data-dismiss="modal">Cancelar</button>
            <a class="btn btn-success float-right mr-2" th:href="@{/contrato/eliminar/{id}(id=${contrato.idContrato})}" role="button">Aceptar</a>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

</body>
</html>
