<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap core CSS -->
    <link th:rel="stylesheet" th:href="@{/bootstrap-datepicker/css/bootstrap-datepicker.css}"/>
    <link th:rel="stylesheet" th:href="@{/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
</head>
<body>
<form th:action="@{/materialcontratado/guardar}" method="post" th:object="${materialcontratado}">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input th:field="*{idMaterial}" type="hidden">
                <input th:field="*{nombreMaterial}"  type="text" class="form-control " id="nombre"  placeholder="Material" required="required">
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Contrato</label>
                <select class="form-control" th:field="*{contrato.idContrato}" id="proveedor" name="proveedor" required="required">
                    <option th:each="contrato: ${contratos}"
                            th:value="${contrato.idContrato}"
                            th:text="${contrato.proyecto}">
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="unidadmedida">Unidad de medida</label>
                <select class="form-control" id="unidadmedida" th:field="*{unidadMedida}" name="unidadmedida" required="required">
                    <option value="(m)">Metro (m)</option>
                    <option value="(m2)">Metro cuadrado (m2)</option>
                    <option value="(m3)">Metro cúbico (m3)</option>
                    <option value="Piezas/ Unidad">Piezas/ Unidad (pza, und)</option>
                    <option value="(kg)">Kilogramos (kg)</option>
                    <option value="(Lt)">Litros (Lt)</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="cantidad">Cantidad</label>
                <input th:field="*{cantidad}" id="cantidad" type="number" class="form-control" min="1"  name="cantidad" placeholder="Cantidad" required="required">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="precio">Precio</label>
                <input th:field="*{precio}"type="number" step="any" id="precio" min="1" class="form-control" name="precio" placeholder="Precio" required="required">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="iva">IVA(%)</label>
                <input th:field="*{iva}" id="iva" type="number" class="form-control" min="16" name="iva" placeholder="IVA" required="required">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="detalles">Detalles</label>
                <textarea  th:field="*{detalles}" class="form-control" id="detalles" name="detalles" rows="5"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-danger float-right" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success float-right mr-2">Guardar</button>
        </div>
    </div>
</form>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
<script>

    $("#nombre").bind('keypress', function(event) {
        var regex = new RegExp("^[a-zA-Z ]+$");
        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
        if (!regex.test(key)) {
            event.preventDefault();
            return false;
        }
    });
</script>
</body>
</html>
