<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <!--    &lt;!&ndash; Custom fonts for this template &ndash;&gt;-->
    <!--    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">-->
    <!--    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

</head>
<body>
<div>
    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <!-- Topbar Search -->
        <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <h1 class="h3 mb-2 text-gray-800 text-uppercase font-weight-bold"></h1>
        </div>
    </nav>
    <!-- End of Topbar -->

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 id="nombreOpcion" class="h3 mb-2 text-gray-800">Control del presupuesto</h1>

        <!--        DENTRO DE LA TABLA -->
        <div class="card shadow mb-4">
            <!-- TABLAAAAA Example -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Proveedor</th>
                            <th>Proyecto</th>
                            <th>Monto inicio</th>
                            <th>Monto utilizado</th>
                            <th>Monto final</th>
                            <th>Control</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="control:${controlpresupuesto}">
                            <td th:text="${control.contrato.proveedor.nombre}"></td>
                            <td th:text="${control.contrato.proyecto}"></td>
                            <td th:text="${#numbers.formatCurrency(control.montoinicio)}"></td>
                            <td th:text="${#numbers.formatCurrency(control.montoUtilizado)}"></td>
                            <td th:text="${#numbers.formatCurrency(control.montoFinal)}"></td>
                            <td>
                                <!--BOTON EDITAR -->
                                <a class="btn btn-success botonEditar" th:href="@{/controlpresupuesto/reporte/{id}(id=${control.contrato.idContrato})}" role="button" title="Imprimir">Reporte</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2021</span>
        </div>
    </div>
</footer><!-- End of Footer -->

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/datatables-demo.js}"></script>
</body>
</html>
